[submodule "dratter_react_backend"]
	path = dratter_react_backend
	url = https://github.com/umemiya0715/dratter_react_backend
[submodule "dratter_react_frontend"]
	path = dratter_react_frontend
	url = https://github.com/umemiya0715/dratter_react_frontend
