[submodule "dratter_react_backend"]
	path = backend
	url = https://github.com/umemiya0715/dratter_react_backend
[submodule "dratter_react_frontend"]
	path = frontend
	url = https://github.com/umemiya0715/dratter_react_frontend
